.gridItem
{
    display: flex;
    box-sizing: border-box;
    flex: 1 0 100px;
    width: 100%;
    border: 1px solid black;
    padding: 0%;
}
body 
{
    margin: 0;
    padding: 0;
}
.container 
{
    display: flex;
    flex-wrap: wrap;
    position: relative;
    max-width: 1600px; 
    height: 1600px; 
    border: 1px solid black;
}